#bilhetes div.menubilhetes{
	position: relative;
	top: 35px;
	overflow-y: auto;
}
#bilhetes ul {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    color: black;

}
#bilhetes ul > li{
	margin-bottom: 10px;
	font-size: 9pt;
	background-color:rgba(220, 220, 220, 0.90);
}

#bilhetes ul > li > a{
	color: black;
}

#bilhetes ul > li table{
	width: 100%;
}
#bilhetes ul > li td.info{
	width: 250px;
}
#bilhetes ul > li td.jogo{
	font-size: 11pt;
	font-weight: bold;
}
#bilhetes ul > li td.seta{
	float:right;
	padding-top: 23px;

}