#calendario {
	width: 320px;
	height: 375px;
	overflow-y: scroll;
}

#calendario div.cal{
	position: relative;
	top: 10px;
}

#calendario ul {
    position: relative;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    color: black;
}
#calendario ul >li{
	background-color:rgba(220, 220, 220, 0.90);
}

#calendario ul >li > a{
	color: black;
	cursor: default;
}

#calendario table {
	margin-bottom: 20px;
	margin-left: auto;/*fiz as contas-assim fica centrado*/
	margin-right: auto;
	min-width: 250px;
}

#calendario td, th {
	cursor: default;
}
#calendario tr.jogo:hover {
	background-color: #BBC;
}
#calendario tr.pt {
	background-color: #cfcfcf;
}

#calendario td {
	font-size: 8pt;
	border-bottom: 1px solid;
	padding-bottom: 2px;
	padding-top: 2px;
}

#calendario th {
	color: #000;
	border-bottom: 2px solid;
}

#calendario div.data {
	font-size: 13pt;
	font-weight: bold;
	text-align: center;
}

#calendario td.casa {
	min-width: 70px;
	text-align: right;
	border-right: none;
}
#calendario td.fora {
	min-width: 70px;
	border-left: none;
}

#calendario td.hora {
	min-width: 30px;
	text-align: center;
}

#calendario td.vs {
	width: 10px;
	text-align: center;
	border-right: none;
	border-left: none;
}

#calendario td.local {
	width: 60px;
}

footer{
	position:absolute;
	top:410px;
	left: 0px;
}