#classificacao{
	color: black;
}

#classificacao >ul{
	position: relative;
	top:10px;
	width: 95%;
	margin-right: auto;
	margin-left: auto;
}

#classificacao >ul >li >a {
	color: black;
}
#classificacao >ul >li{
background-color:rgba(250, 250, 250, 0.90);
}
#classificacao table {
	max-width: 280px;
	margin-left:auto; 
	margin-right: auto;
}

#classificacao td {
	padding-top: 3px;
	padding-bottom: 5px;
	width: 195px;
}

#classificacao td.text {
	text-align: right;
	padding-right: 5px;
	width: 71px;
	font-size: 9pt;
	font-weight: bold;
}

#classificacao tr.impar {
	background-color: #cfcfcf;
}
