#emdirecto div.menudirecto{
	position: relative;
	top: 35px;
}

#emdirecto ul {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    color: black;
}
#emdirecto ul > li{
	background-color:rgba(260, 260, 260, 0.90);
}

#emdirecto span {
    font-size: 12px;
    float: right;
}

#emdirecto .description {
	font-weight: bold;
	margin-left: -5px;
}