body {
	width: 320px;
	height: 460px;
	margin: 0px;
	/*cenas do bootstrap que não queremos*/
	color: #222;
	padding-right:0px;
	padding-left: 0px;
	-webkit-padding-start: 0px;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
}

header {
	background-color: #222;
	width: 100%;
	height: 35px;
	color:white;
}

header table{
	width: 100%;
}
header div.back,header div.no-back{
	float: left;
	margin-top: 1px;
	margin-left: 4px;
}
header div.back_help{
	display: none;
	float: left;
	margin-top: 1px;
	margin-left: 4px;
}

header div.back:hover,header div.ajuda:hover{
	background-color: #666;
	border-radius: 3px;
}

header div.title{
	text-align: center;
	font-size: 18pt;
	font-weight: bold;
	cursor: default;
	

}

header div.ajuda,header div.nao-ajuda{
	float: right;
	margin-right: 2px;
	margin-top: 1px;
	
}

ul.tabbar{
	list-style: none;
	background: #222;
	height: 50px;
	width: 320px;
	margin: 0px;
	-webkit-padding-start: 0px;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
}

ul.tabbar > li{
	display: inline-block;
	color: white;
	font-family: Helvetica, Arial;
	font-size: 8pt;
	width: 25%;
	height: 50px;
	margin:0px;
	border: 0px;
	padding: 0;
	text-align: center;
	float: left;
}

ul.tabbar >li:hover{
	background: #666 ;
	border-radius: 4px;
}


ul.tabbar >li.active/*tem de ser assim, apesar de haver a maneira dos dois pontos*/{
	background: #666;
}

ul.tabbar >li a{
	color: white;
	text-decoration:none;
	display: block;
	width: 100%;
	height: 100%;
}
header div.ajuda{ 
	margin-top: 1px;
	float: right;
	margin-right: 2px;
		
}

.wrapper {
	width: 100%;
	height: 375px;
	background-image: url("../img/grass.jpg");
}


div.help {
	position: absolute;
	top: 35px;
	width: 320px;
	height: 375px;
	background-color: rgba(210,210,210,0.90);
	
}
div.help div.help1{
	position:relative;
	top: 30px;
	width: 95%;
	margin-right: auto;
	margin-left: auto;	
}

div.help div.help1> table{
	min-width: 305px;

}

tr.helptitle {
	text-align: center;
	font-weight: bold;
	font-size: 12pt;
	height: 30px;
}

tr.helptitle td {
	background-color: rgba(172, 172, 172, 0.95);
	border-radius: 4px;
}

tr.helptext .choose {
	font-size: 9pt;
	max-height: 10px;
}

tr.helpexit {
	text-align: center;
	font-weight: bold;
	font-size: 8pt;
	background-color: rgba(240, 240, 240, 0.95);
	height: 20px;
}

tr.helptext td{
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: rgba(240, 240, 240, 0.95);
}


tr.helptext .choice{
	font-weight: bold;
	font-size: 11pt;
	color: #08C;
	cursor: default;
}

tr.helptext > td > a {
	text-decoration: none;
}

tr.helptext .choice:hover {
	border-radius: 3px;
}

tr.helptext .choicetext {
	max-height: 50px;
}

div.teclado{
	position: absolute;
	z-index: 2;
	top:460px;/*247*/
}

div.teclado > img{
	height: 0px;
	width: 320px;
}
