h3 {
	margin-top: 0px;
	margin-left: 120px;
}

.icon2014 {
	margin-left: 30px;
	margin-bottom: 10px;
}

div.index {
	background-image: url("../img/grass.jpg");
	width: 100%;
	height: 425px;
}

.menu_table {
	position: relative;
	top: 30px;
	left: 35px;
}

.menu_table td#news {
	border-top-right-radius: 4px;
}

.menu_table td#live {
	border-top-left-radius: 4px;
}

.menu_table td#stats {
	border-bottom-right-radius: 4px;
}

.menu_table td#tickets {
	border-bottom-left-radius: 4px;
}

.menu_table td#news:hover {
	border-top-right-radius: 4px;
}

.menu_table td#live:hover {
	border-top-left-radius: 4px;
}

.menu_table td#stats:hover {
	border-bottom-right-radius: 4px;
}

.menu_table td#tickets:hover {
	border-bottom-left-radius: 4px;
}

.menu_button {
	text-align: center;
	background-color:rgba(220, 220, 220, 0.85);
	width: 120px;
	height: 85px;
}

.menu_button:hover {
	background-color: rgba(180,180,180,0.9);
}

td.menu_button p {
	color: #000;
	cursor: default;
}

td.menu_button img {
	cursor: default;
}

td.menu_button a {
	display: block;
	width: 100%;
	height: 100%;
	cursor: default;
}
td.menu_button a:link {
	text-decoration: none;
}

div.ajuda_menu{
	float: right;
	margin-top: -5px;
	margin-right: 3px;
}
div.ajuda_menu:hover{
	background: #666;
	border-radius: 3px;
}

tr.helptext .choice{
	font-weight: bold;
	font-size: 11pt;
	color: #08C;
	cursor: default;
}

tr.helptext > td > a {
	text-decoration: none;
}

tr.helptext .choice:hover {
	border-radius: 3px;
}

tr.helptext .choicetext {
	max-height: 50px;
}
div.help{
	min-height: 425px;
}