#dados_jogador td, .left {
	border-bottom: 1px solid black;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3px;
	text-align: left;
	font-size: 9pt;
	min-width: 85px;
	background-color: rgba(248,248,255,0.6);
}

.left {
	font-weight: bold;
	
}

.nobold {
	font-weight: normal;
	margin-left: 4px;
}

.odd {
	background-color: #CFCFCF;
}

td.scnd {
	border-left: 1px solid black;
}

#dados_jogo td, .left {
	border-bottom: 1px solid black;
	padding: 3px 5px 1px 5px;
	text-align: left;
	font-size: 9pt;
}

#dados_jogador {
	margin: 5px 7px 10px 20px;
}

#dados_jogo {
	width: 95%;
	margin-left: 8px;
}

#ronaldo{
	width: 320px;
		background-color:rgba(220, 220, 220, 0.80);
		height: 375px;
}

#ronaldo .jogo {
	background-color: #BBB;
	color: black;
	font-size: 11pt;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}
#dados_jogo td {
	background-color: rgba(248,248,255,0.6);
}
#ronaldo #foto {
	margin-left: 5px;
	margin-right: 5px;
	min-width: 75px;
	min-height: 75px;
}

div.dados_sel{
	margin-top: 20px;
}
