.marcador, #nav-jogo {
	position: relative;
	top: 10px;
	width: 310px;
	height: 70px;
	background-color: #cfcfcf;
	margin: 0px 5px 0px 5px;
}

td.minutos, .equipadir, .equipaesq {
	text-align: center;
	font-size: 9pt;
}

.minutos {
	font-weight: bold;
}

.tempo {
	pointer-events: none;
}

.bandeira > img {
	width: 75px;
	height: 50px;
}

.bandeiraesq {
	text-align: right;
}

.bandeiradir {
	text-align: left;
}

.bandeira {
	padding: 5px 10px 5px 10px;
}

.golosesq {
	text-align: right;
	padding: 0px 11px 0px 0px;
}

.golosdir {
	text-align: left;
	padding: 0px 0px 0px 11px;
}

.golos {
	font-size: 16pt;
	font-weight: bold;
}

#nav-jogo {
	height: 22px;
	border-collapse: separate;
}

td#relato, td#equipas, td#estatisticas {
	text-align: center;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    font-weight: bold;
    cursor: default;
    min-width: 100px;
}

#nav-jogo tr td:last-child {
	border-right: none;
}

.content {
	height: 250px;
	margin-top: 15px;
	overflow-y: scroll;
}

.nav {
	width:95%; 
	margin-right: auto;
	margin-left: auto; 
}

.nav-tabs.nav-stacked > li{
  border: 1px solid #ddd;
	background-color:rgba(260, 260, 260, 0.90);

  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.nav-tabs.nav-stacked > li:first-child {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-topleft: 4px;
}

.nav-tabs.nav-stacked > li:last-child {
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
          border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
}

td.minutos {
	width: 30px;
	font-style: bold;
	font-size: 12pt;
}

td.imagem {
	width: 23px;
	padding-left: 2px;
}

td.coment {
	padding: 5px 3px 5px 3px;
	font-size: 10pt;
}

li.important {
	font-weight: bold;
	background-color: #cfcfcf;
}

.nav-tabs > li.active {
	text-align: center;
	background-color: #DDD;
}

/**/

td.numero, td.nome {
	text-align: left;
}

td.numero {
	font-weight: bold;
	width: 20px;
	padding-left: 3px;
}

td.flag {
	width: 21px;
	padding-left: 3px;	
}

td.nome {
	width: 120px;
	padding-left: 3px;
}

#stat table {
	max-width: 90%;
	margin-left:auto; 
	margin-right: auto;
}

#stat td.stat {

	padding-top: 3px;
	padding-bottom: 5px;
	min-width: 80px;
}

#stat td.equipa {
	padding-left: 15px;
	text-align: left;
	padding-right: 5px;
	width:50px;
	font-size: 9pt;
	font-weight: bold;
}

#stat tr.impar {
	background-color: #cfcfcf;
}
