#content {
    overflow-y: auto;
}

#content > ul {
    margin: 10px 5px 10px 5px;
}
#content > ul >li{
    background-color:rgba(260, 260, 260, 0.90);
}

.nav-tabs > li > a, .nav-pills > li > a {
padding-right: 6px;
padding-left: 6px;
}


div.description img {
    float: left;
    margin-right: 5px;
    padding: 5px 0px 5px 0px;
}


div.description h5 {
    float: left;
    padding-top: 5px;
    margin: 0px;
}

div.description h6 {
    margin-top: 0px;
    margin-bottom: 5px;
    float: right;
    line-height:5px;
}

#content p {
    text-decoration: none;
    font-size: 9pt;
    padding-left: 5px;
    padding-top: 5px;
}

#content a {
    color: black;
    text-decoration:none;
    display: block;
}

footer {
    position: fixed;
    top: 410px;
    left: 0px;
}
