img {
	cursor: default;
}

footer{
	position:absolute;
	top:410px;
}

#noticia{
	height: 375px;
	overflow-y: auto;
    background-color:rgba(260, 260, 260, 0.90);
}

#noticia div.fototitle{
	font-size: 16pt;
	font-weight: bold;
	width: 300px;
	margin: 5px 0px 0px 5px;
}
#noticia div.text{
	margin-top: 10px;
	width: 300px;
	font-size: 11pt;
}
#noticia div.text h5{
	font-size: 10pt;
	line-height:5px;
	padding-left: 5px;
}
#noticia div.text p {
	padding: 5px 10px 0px 10px;
}
#noticia div.text h6{
	float: right;
	line-height:5px;
}