#resultados {
	width: 320px;
	height: 375px;
	overflow-y: scroll;
}

#resultados div.results {
	position: relative;
	top: 10px;
}
#resultados div.menu{
	width: 80%;
	margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
#resultados div.navbar div.navbar-inner{
	padding-left: 0px;
	padding-right: 0px;
}
#resultados div.navbar div.navbar-inner ul.nav{
	width: 100%;
}
#resultados div.navbar div.navbar-inner ul.nav >li{
	text-align: center;
	min-width: 50%;
}	
#resultados div.navbar div.navbar-inner ul.nav >li>a{
	color: #08C;
	font-weight: bold;
}
#resultados ul {
    position: relative;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    color: black;
}
#resultados ul.cal >li{
	background-color:rgba(220, 220, 220, 0.90);
}

#resultados ul.cal >li > a{
	color: black;
	cursor: default;
}

#resultados table{
	margin-bottom: 20px;
	margin-left: auto;/*fiz as contas-assim fica centrado*/
	margin-right: auto;
	min-width: 250px;
}

#resultados div.data {
	font-size: 13pt;
	font-weight: bold;
	text-align: center;
	color: black;
}

#calendario td, th {
	cursor: default;
}
#calendario tr.jogo:hover {
	background-color: #BBC;
}

#resultados tr.pt {
	background-color: #cfcfcf;
}

#resultados th {
	border-bottom: 2px solid;
}
#resultados td {
	font-size: 8pt;
	border-bottom: 1px solid;
	padding-bottom: 2px;
	padding-top: 2px;
}

#resultados td.casa {
	min-width: 70px;
	text-align: right;
	border-right: none;
}

#resultados td.fora {
	min-width: 70px;
	border-left: none;
}

#resultados td.hora {
	min-width: 30px;
	text-align: center;
}

#resultados td.vs {
	width: 6px;
	text-align: center;
	border-right: none;
	border-left: none;
}

#resultados td.local {
	width: 60px;
}

#resultados #anteriores{
	width: 95%;
	height: 25px;
	background-color: #DDD;
	text-align: center;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 10px;
	padding-top: 5px;
	border-radius: 3px;
}

#resultados a {
	text-decoration: none;
}
