#estatistica{
	background-color:rgba(220, 220, 220, 0.75);
	height: 375px;
}

#estatistica div.menustat{
	position: relative;
	top: 35px;
	width: 100%;
}

#estatistica div.menu{
	position: relative;
	width: 80%;
	margin-left: auto;
    margin-right: auto;
    top: 10px;
}
#estatistica div.navbar div.navbar-inner{
	padding-left: 0px;
	padding-right: 0px;
	height: 100%;
}
#estatistica div.navbar div.navbar-inner ul.nav{
	width: 100%;
	height: 100%;
}
#estatistica div.navbar div.navbar-inner ul.nav >li{
	text-align: center;
	min-width: 50%;
}
#estatistica div.navbar div.navbar-inner ul.nav >li>a{
	color: #08C;
	font-weight: bold;
}

#estatistica ul.menu {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    color: black;

}
#estatistica ul.menu >li{
	background-color: rgba(220,220,220,0.95);
	margin-bottom: 20px;
}
#estatistica ul.menu >li > a{
	color: black;
	font-weight: bold;
}

#estatistica ul.enc {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    color: black;
}
#estatistica ul.enc >li{
	background-color: rgba(220,220,220,0.85);
	margin-bottom: 20px;
}
#estatistica ul.enc >li > a{
	color: black;
}

#estatistica div.description span {
    font-size: 12px;
    float: right;
}

#estatistica div.escolha{
	position: relative;
	padding-top: 10px;
	text-align: center;

}

#estatistica select {
	width: 160px;
}

#estatistica div.escolha span {
	font-size: 16pt;
	font-weight: bold;
}
#estatistica #equipas{
	margin-top: -10px;
	height: 240px;
	overflow: auto; 
}
#estatistica #equipa{
	float:left;
}

#estatistica div.econtros {
	overflow-y: auto;
}

#estatistica div.escolha > div.bnt-group > ul.dropdown-menu{
	font-size: 11pt;
	float: none;
	left: 40px;
	margin: 0px;
}
#estatistica div.escolha > div.bnt-group > ul.dropdown-menu >li{
	margin-bottom: 2px;
}

#estatistica #equipa{
	float:left;
}

#estatistica div.encontros ul{
	width: 95%;
	margin-left: auto;
    margin-right: auto;
}

#estatistica div.encontros ul> li{
	margin-bottom: 5px;
}

#estatistica tr.pt {
	background-color: #cfcfcf;
}

#estatistica div.encontros td {
	font-size: 8pt;
	border-bottom: 1px solid;
	padding-bottom: 2px;
	padding-top: 2px;
}

#estatistica div.encontros th {
	color: #000;
	border-bottom: 2px solid;
}

#estatistica div.encontros td.casa {
	min-width: 40px;
	text-align: right;
	padding-right: 5px;
	border-right: none;
}
#estatistica div.encontros td.fora {
	min-width: 40px;
	padding-left: 5px;
}

#estatistica div.encontros td.data {
	min-width: 36px;
	text-align: center;
	padding-right: 5px;
}

#estatistica div.encontros td.vs {
	min-width: 30px;
	text-align: center;
	border-right: none;
	border-left: none;
}

#estatistica div.encontros td.competicao {
	min-width: 40px;
	padding-left: 5px;
}