#reserva{
	background-color:rgba(220, 220, 220, 0.90);
}
#reserva div.res{
	position: relative;
	top:5px;
	/*overflow-y: auto;*/
	height: 325px;
}

#reserva form {
	height: 125px;
}

#reserva #lugares {
	margin: 25px 5px 10px 5px;
}

#reserva #lugares td{
	border: 1px solid black;
	width: 23px;
	background-color: #FFF;
}

#reserva #lugares td:hover {
	background-color: #cfcfcf;
}

#reserva #lugares td.cheio {
	background-color: red;
}

#reserva #lugares td.relvado {
	background-color: green;
	font-weight: bold;
	text-align: center;
	color: white;
	max-height: 10px;
	font-size: 9pt;
}

#reserva #lugares td {
	text-align: center;
	cursor: default;
}

#reserva #lugares td.fila, #reserva #lugares td.col {
	background-color: white;
	font-weight: bold;
}

#reserva span.txt {
	float: left;
	width: 100px;
	text-align: right;
	margin-left: -3px;
	padding-right: 3px;
}

#reserva label {
	margin: 0px 0px 3px 10px;
}

select[size] {
	width: 180px;
	height: 27px;
}

#reserva div.botoes {
	position: absolute;
	top:380px;
	width: 320px;
	text-align:right;
	background-color:rgba(220, 220, 220, 0.90);
}

.custo {
	text-align: left;
	position: relative;
	top: 25px;
	padding-left: 5px;
	font-weight: bold;
	z-index: 1;
	width: 100px;
}
#pagamento, #pag_cartao{
	background-color:rgba(220, 220, 220, 0.90);

}
#pagamento div.pag, #pag_cartao div.pag{
	position: relative;
	top:5px;
	overflow: auto;
	height: 345px;
	cursor:default;
}
#pagamento div.botoes, #pag_cartao div.botoes{
	position: absolute;
	top:380px;
	width: 320px;
	text-align:right;
	background-color:rgba(220, 220, 220, 0.90);
}


#pagamento span.txt{
	float: left;
	width: 90px;
	text-align: right;
	margin-left: -2px;
	padding-right: 3px;
	
}

#pag_cartao span.txt{
	float: left;
	width: 90px;
	text-align: right;
	margin-left: 2px;
	padding-right: 3px;
	
}

#pagamento label, #pag_cartao label {
	margin: 0px 0px 3px 5px;
}
#pagamento select[size]{
	width: 220px;
}
#confirmacao{
	background-color:rgba(220, 220, 220, 0.80);
	width: 100%;
	height: 345px;
}
#confirmacao table {
	min-width: 95%;
	margin-left:auto;
	margin-right: auto; 
	border: 1px solid #cfcfcf;
	background: ghostwhite;
}


#confirmacao td {
	padding-top: 3px;
	padding-bottom: 5px;
	width: 195px;
}

#confirmacao td.text {
	text-align: right;
	padding-right: 5px;
	width: 71px;
	font-size: 9pt;
	font-weight: bold;
}

#confirmacao tr.impar {
	background-color: #cfcfcf;
}
#confirmacao div.conf{
	position: relative;
	top:5px;
	height: 335px;
	overflow: auto;
}
#confirmacao div.botoes{
	position: absolute;
	top:380px;
	width: 320px;
	text-align:right;
	background-color:rgba(220, 220, 220, 0.90);
}
#sucesso{
	background-color:rgba(220, 220, 220, 0.90);
	height: 375px
}
#sucesso #mail,#sucesso #msg, #sucesso #suc{
	padding: 0px 5px 0px 5px;
}

footer.bilhetes {
	background-color: #222;
}

footer.bilhetes .text {
	text-align: center;
	color: white;
	font-size: 14pt;
	padding-top: 5px;
	padding-bottom: 5px;
}

div.cancel{
	z-index: 3;
	position: absolute;
	top:35px;
	width:320px;
	height: 425px;
	background-color: rgba(70, 70, 70, 0.50);
}

div.cancel div.confirm {
	position: relative;
	top:150px;
	width: 256px;
	margin-right: auto;
	margin-left: auto;	
}

div.cancel div.confirm > table {
	width: 256px;
	height: 100px;

}
tr.confirm_title {
	text-align: center;
	font-weight: bold;
	font-size: 12pt;
	height: 15px;
	background-color: rgba(240, 240, 240, 0.95);
}

tr.confirm_text {
	text-align: center;
	font-size: 12pt;
	height: 15px;
	background-color: rgba(240, 240, 240, 0.95);
}
tr.alert_text {
	text-align: center;
	font-size: 10pt;
	height: 15px;
	background-color: rgba(240, 240, 240, 0.95);
}
tr.form {
	background-color: rgba(240, 240, 240, 0.95);
}


tr.confirm_title td {
	background-color: rgba(172, 172, 172, 0.95);
	border-radius: 4px;
}

tr.form td.button {
	text-align: center;
	
}